# Building Custom URLs for SurveyMonkey

There are 3 custom values that need to be replaced in the SurveyMonkey URL. The custom values in this case indicate the Organization, Last Name, and Email of potential survey respondents. 

Example URL: 
https://www.surveymonkey.com/r/ASDF123?x=[x_value]&y=[y_value]&z=[z_value]

Example URL with unique values: 
https://www.surveymonkey.com/r/ASDF123?x=x&y=y&z=z

X, y, and z are all strings. They may be of any length as long as they don't exceed SurveyMonkey's length limit for URLs.

How do we replace [custom_value] in each URL with the corresponding unique value?

In [2]:
import pandas as pd
import re

In [3]:
df = pd.read_csv('contacts_2.csv')
df.info()
df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 7 columns):
Email Address    3 non-null object
First Name       3 non-null object
Last Name        3 non-null object
Company          3 non-null object
Lists            3 non-null object
Tags             3 non-null object
Collectors       3 non-null object
dtypes: object(7)
memory usage: 248.0+ bytes

,Email Address,First Name,Last Name,Company,Lists,Tags,Collectors
0,jdoe@gmail.com,Jane,Doe,BassAckwards,List A,Tag b,https://www.surveymonkey.com/r/YV7KSRQ?em=[em_...
1,suzie@acme.com,Suzie,Q,Acme,List A,Tag b,https://www.surveymonkey.com/r/YV7KSRQ?em=[em_...
2,rdodger@agate.org,Roger,Dodger,Agate,List A,Tag b,https://www.surveymonkey.com/r/YV7KSRQ?em=[em_...

#### The default max_colwidth is equal to 50. URL is too long to read at default setting.

In [7]:
pd.options.display.max_colwidth = 100

df

,Email Address,First Name,Last Name,Company,Lists,Tags,Collectors
0,jdoe@gmail.com,Jane,Doe,BassAckwards,List A,Tag b,https://www.surveymonkey.com/r/YV7KSRQ?em=[em_value]&ln=[ln_value]&or=[or_value]
1,suzie@acme.com,Suzie,Q,Acme,List A,Tag b,https://www.surveymonkey.com/r/YV7KSRQ?em=[em_value]&ln=[ln_value]&or=[or_value]
2,rdodger@agate.org,Roger,Dodger,Agate,List A,Tag b,https://www.surveymonkey.com/r/YV7KSRQ?em=[em_value]&ln=[ln_value]&or=[or_value]

In [8]:
x = df.Company.str.replace('-| |\'|\.|\&|,|', 
                           '').str.lower().to_dict()

x

{0: 'bassackwards', 1: 'acme', 2: 'agate'}

In [9]:
df['collectors2'] = df.Collectors.replace(regex=r'\[or_value\]', value=x)

df.collectors2

0    https://www.surveymonkey.com/r/YV7KSRQ?em=[em_value]&ln=[ln_value]&or=bassackwards
1            https://www.surveymonkey.com/r/YV7KSRQ?em=[em_value]&ln=[ln_value]&or=acme
2           https://www.surveymonkey.com/r/YV7KSRQ?em=[em_value]&ln=[ln_value]&or=agate
Name: collectors2, dtype: object

In [10]:
y = df['Last Name'].str.lower().to_dict()

y

{0: 'doe', 1: 'q', 2: 'dodger'}

In [11]:
df.collectors2 = df.collectors2.replace(regex=r'\[ln_value\]', value=y)

df.collectors2

0    https://www.surveymonkey.com/r/YV7KSRQ?em=[em_value]&ln=doe&or=bassackwards
1              https://www.surveymonkey.com/r/YV7KSRQ?em=[em_value]&ln=q&or=acme
2        https://www.surveymonkey.com/r/YV7KSRQ?em=[em_value]&ln=dodger&or=agate
Name: collectors2, dtype: object

In [12]:
z = df['Email Address'].to_dict()

z

{0: 'jdoe@gmail.com', 1: 'suzie@acme.com', 2: 'rdodger@agate.org'}

In [13]:
df.collectors2 = df.collectors2.replace(regex=r'\[em_value\]', value=z)

df.collectors2

0    https://www.surveymonkey.com/r/YV7KSRQ?em=jdoe@gmail.com&ln=doe&or=bassackwards
1              https://www.surveymonkey.com/r/YV7KSRQ?em=suzie@acme.com&ln=q&or=acme
2     https://www.surveymonkey.com/r/YV7KSRQ?em=rdodger@agate.org&ln=dodger&or=agate
Name: collectors2, dtype: object

In [14]:
df.info()
df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 8 columns):
Email Address    3 non-null object
First Name       3 non-null object
Last Name        3 non-null object
Company          3 non-null object
Lists            3 non-null object
Tags             3 non-null object
Collectors       3 non-null object
collectors2      3 non-null object
dtypes: object(8)
memory usage: 272.0+ bytes

,Email Address,First Name,Last Name,Company,Lists,Tags,Collectors,collectors2
0,jdoe@gmail.com,Jane,Doe,BassAckwards,List A,Tag b,https://www.surveymonkey.com/r/YV7KSRQ?em=[em_value]&ln=[ln_value]&or=[or_value],https://www.surveymonkey.com/r/YV7KSRQ?em=jdoe@gmail.com&ln=doe&or=bassackwards
1,suzie@acme.com,Suzie,Q,Acme,List A,Tag b,https://www.surveymonkey.com/r/YV7KSRQ?em=[em_value]&ln=[ln_value]&or=[or_value],https://www.surveymonkey.com/r/YV7KSRQ?em=suzie@acme.com&ln=q&or=acme
2,rdodger@agate.org,Roger,Dodger,Agate,List A,Tag b,https://www.surveymonkey.com/r/YV7KSRQ?em=[em_value]&ln=[ln_value]&or=[or_value],https://www.surveymonkey.com/r/YV7KSRQ?em=rdodger@agate.org&ln=dodger&or=agate

In [15]:
df.to_csv('contacts_final2.csv')